<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (navEmitter)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill class="sidenav-content">
    <div fxLayout="column">
      <app-banner></app-banner>
      <app-nav-bar (navToggle)="sidenav.toggle()"></app-nav-bar>
      <div fxLayout="row" fxLayoutAlign="center" fxFlexFill>
        <div fxFlex.gt-sm="800px" fxFlex.lt-md="100%">
          <router-outlet></router-outlet>
        </div>
    </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

